<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>향수찾기 페이지</title>
    <link rel="stylesheet"  href="../public/stylesheets/style.css">
  </head>

  <body>
    <header>
    <!-- 이미지 추가 및 css 분리 필요 -->
    <img style="transform: translatey(50px);" src="./header/dogLeft.png" width="300px">
    <img id= "textFirst" style="transform: translatey(-100px);" src="./header/textFirst.png" width="200px">
    <button id="button"><img src="./header/dogRight.png" width="100px"></button>
    </header>

    <h2 id = "currentCount"> 현재 선택된 사진 수 0개입니다.</h2>
    
    <!-- 이미지 추가 필요 -->
    <div>
      <img class="img_perfume" src="./img/apple.png">
      <img class="img_perfume" src="./img/mint.jpg">
      <img class="img_perfume" src="./img/orange.jpg">
      <img class="img_perfume" src="./img/banana.jpg">
    </div>

    <div>
      <img class="img_perfume" src="./img/milk.jpg">
      <img class="img_perfume" src="./img/rasberry.jpg">
      <img class="img_perfume" src="./img/rose.jpg">
      <img class="img_perfume" src="./img/musk.jpeg">
    </div>
    <script src="../public/javascripts/grid.js"></script>

  </body>
</html>
